*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}
.section__wrapper{
    width: 1280px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
/*---Айгуль--*/
/*----------------HEADER----------------*/
.header {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 120px;
}
.header__logo{
    position: relative;
    width: 70px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 35px;
}
.logo__parts{
    position: relative;
    width: 32px;
    height: 40px;
    top: 0;
    left: 15px;
}
.logo__part{
    position: absolute;
}
.logo__part--one{
    top: 4px;
    left: 0;
}
.logo__part--two{
    top: 0;
    left: 11px;
}
.logo__part--three{
    left: 21px;
    bottom: 0;
}
.logo__title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.header__main{
    display: flex;
    height: 656px;
}
.header__part--one{
    width: 640px;
    background: rgba(110, 151, 115, 0.26);
    border-radius: 50px 0 0 0;
}
.header__content{
    padding-left: 60px;
}
.header__title{
    margin: 0;
    padding-top: 88px;
    margin-bottom: 110px;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    color: #0D3A2E;
    text-align: left;
}
.header__text{
    font-size: 20px;
    margin-bottom: 82px;
    color: #555555;
}
.header__part-two{
    width: 640px;
    height: 656px;
    background: url(../img/header.jpg);
    background-size: cover;
    border-radius: 0 50px 0 0;
}
.video__button{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}
.video__b{
    position: relative;
    width: 56px;
    height: 56px;
}
.video__part{
    position: absolute;
}
.video__ellipse{
    top: 0;
    left: 0;
}
.video__three{
    top: 18px;
    left: 22.17px;
}
.video__p{
    margin-top: 12px;
    margin-left: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0D3A2E;
}
.header__filters{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1000px;
    height: 100px;
    margin-left: 140px;
    margin-top: -142px;
    background-color: lightcyan;
    z-index: 100;
    border-radius: 50px;
}
.filter__search{
    position: relative;
    width: 200px;
    height: 100px;
}
.search__button{
    width: 200px;
    height: 100px;
    background: #6E9773;
    border: none;
    border-radius: 280px;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
}
.search__icon{
    width: 19px;
    height: 19px;
    position: absolute;
    top: 41px;
    left: 49px;
    background: transparent;
    border: none;
}
.filter__icon{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
}
.filers__items{
    display: flex;
    width: 800px;
}
.filter__item {
    position: relative;
    width: 155px;
    height: 48px;
    margin-top: 25px;
    margin-right: 20px;
    border-right: 1px lightgrey solid;
}
.filter__1{
    margin-left: 75px;
}
.filter__4{
    margin-right: none;
    border-right: none;
}
.f__icon--p{
    position: absolute;
    top: 2px;
    left: 40px;
    color: #0D3A2E;
    font-size: 18px;
    line-height: 24px;
}
@media (max-width:375px){
    .header {
        width: 100%;
        margin-bottom: 120px;
    }
    .header__logo{
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: -105px;
    }
    .header__main{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .header__part--one{
        width: 100%;
        height: 500px;
        order: 1;
        background-color: honeydew;
        border-radius: 50px;
    }
    .header__text{
        display: none;
    }
    .header__part-two{
        width: 100%;
        height: 380px;
        background-size: cover;
        background-position: bottom;
        margin-bottom: -50px;
        border-radius: 0 0 0 0;
        order: 0;
    }
    .header__content{
        padding-left: 0;
    }
    .header__title{
        margin-top: -155px;
        padding-top: 0;
        margin-bottom: 0;
        font-size: 35px;
        line-height: 80px;
        text-align: center;
        color: black;/*временно*/
    }
    .header__video{
        display: none;
    }
    .filers__items{
        width: 90%;
        height: 200px;
        margin: 0 auto;
        border: solid green;
    }
    .header__filters{
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
        margin: 0 auto;
        margin-left: 0;
        margin-top: -500px;
        border-radius: 50px;
    }
    .filter__search{
        position: relative;
        width: 80%;
        height: 50px;
        margin: 0 auto;
        border: solid green
    }
    .search__button{
        width: 100%;
        height: 50px;
        font-size: 18px;
        line-height: 24px;
        padding-left: 0;
    }
}
/*-----------------------Лёня-----------------------*/
/*--------------NEWS---------------------------*/

.news__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1280px;
    padding-top:64px;
    padding-bottom: 72px;   
}

.news__item{
    box-sizing: border-box;
    width: 600px;
    height: 520px;    
    background-color:#F4FBF8;
    display: flex;
    flex-direction: column;
}

.news__item--2{
    justify-content: space-between;
      width: 600px;
    background-color:#F4FBF8;
    display: flex;
    flex-wrap: wrap;
}

.news__flex--elem1{
    width: 600px;
    height: 256px;
    text-align: right;
}

.news__flex--elem{
    width: 600px;
    height: 256px;
    text-align: right;
    border: solid 5px white;
}
/*---Айгуль--*/
/*--------------CATALOG---------------------------*/
.catalog__wrapper{
    padding-bottom: 60px;
    position: relative;
}
.catalog__title{
    margin-bottom: 25px;
}
.catalog__main{
    position: relative;
}
.catalog__button{
    position: absolute;
    top: 50%;
}
.catalog__button--left{
    left: -55px;
}
.catalog__button--right{
    left: 1300px;
}
.catalog__items{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.catalog__item{
    width: 411px;
    height: 480px;
    background: #FAFAFA;
    border-radius: 16px;
}

.catalog__img--1{
    background: url(../img/catalog1.jpg);
    background-position: center;
}
.catalog__img--2{
    background: url(../img/catalog2.jpg);
}
.catalog__img--3{
    background: url(../img/catalog3.jpg);
}
.catalog__img{
    width: 411px;
    height: 320px;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
}
.catalog__content{
    padding-left: 16px;
}
.catalog__p{
    padding-top: 24px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}
.catalog__info{
    display: flex;
    flex-wrap: nowrap;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}
.catalog__price{
    width: 50%;
}
.catalog__sqm{
    padding-left: 15px;
}
.catalog__all{
    position: absolute;
    width: 129px;
    height: 40px;
    background: #D9E4DB;
    border-radius: 280px;
    bottom: 0;
    right: 10px;
}
.catalog__all--button{
    text-decoration: none;
}
.catalog__all--contain{
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #0D3A2E;
}
/*-------------------Ксюша--------------------------*/
/*--------------REVIEWS---------------------------*/
.reviews__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top:64px;
    padding-bottom: 72px;    
}
.reviews__item{
    height: 398px;    
    width: 350px;
    background-color:#24AB70;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
}
.reviews__whiteBack{
    background-color: #F8F8F8;
}
.reviews__greenback{
    background-color: #6E9773;
}
.reviews__img{
    width: 180px;
    height: 180px;
    background-color: #F3FBEF;
    border-radius: 50%;
    margin-top: -123px;
    margin-left: 150px;
}
.reviews__text--name{
    font-size: larger;
    color: aliceblue;
    margin: 20px;    
    text-align: right;
}
.reviews__blackText{
    color: black;
}
.reviews__text{
    margin: 15px;
}
.reviews__text__white{
    color: rgb(255, 249, 249);
}
/*--------------REALTOR---------------------------*/
.realtor__one{
    margin:  0 auto;
}
.realtor__one a{
    color: #0D3A2E;
}
/*--------------REALTOR--------------------------new page-*/
.realtor__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    padding-top:20px;
    padding-bottom: 20px;   
    background-color: #E4E8E1;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 35px;
    border-radius: 20px;
}

.realtor__about{
    display: flex;
    flex-direction: row;
    margin: 10px;   
}
.realtor__img{
    margin: 10px;
    padding: 10px;
    position: relative;
}
.realtor__exp{
    margin: 0 auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    color: #1D271E;
}
.realtor__about--middle{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 70px;
}
.realtor__name{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #1D271E;
}
.realtor__offers{
    margin-top: 50px;
    font-size: 20px;
    color: #ffffff;
}
.realtor__star{
    margin-top: 60px;       
}
.realtor__about--last{
    display: flex;
    flex-direction: column;
    margin-left: 250px;  
    margin-top: 20px;
}
.realtor__number{    
    font-size: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: #6E9773;
    color: #E8E8E8;
    border-radius: 20px;
}
.realtor__number a{
    text-decoration: none;
    color: #E8E8E8;
}
.realtor__number a:hover{
    color: #0D3A2E;
    text-decoration:underline ;
}

.realtor__number a:focus{
    outline: #E8E8E8 solid 1px;
}

.realtor__number a:active{
    color: #E8E8E8;
    background: rgba(150,150,150,.5);
}

.realtor__communication{
    margin-top: 20px;    
}
.realtor__communication img{
    padding: 5px;
}

.realtor__description{
    padding-left: 30px;
    font-size: 20px;
    color: #1D271E;
}
.realtor__underline{
    font-weight: bold;
    text-decoration: black ;
}
.realtor__footer{
    width: auto;
    height: auto;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: #6E9773;
}
.realtor__footer a{
    text-decoration: none;
    color: #E8E8E8;
}
.realtor__footer a:hover{
    color: #0D3A2E;
    text-decoration:underline ;
}

.realtor__footer a:focus{
    outline: #E8E8E8 solid 1px;
}

.realtor__footer a:active{
    color: #E8E8E8;
    background: rgba(150,150,150,.5);
}